<div class="container mt-4">
  <h1 class="mb-3">Contato</h1>

  <p>
    Entre em contato com 
    <a href="http://google.com" class="fw-bold text-decoration-none">@Ana</a> 
    para saber mais.
  </p>
</div>
