<div class="container py-5 text-center bg-light rounded">
  <h1 class="mb-4">Contact List</h1>
  <p class="lead">
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie sua conta', cadastro_path, class: 'btn btn-primary btn-lg d-inline-block' %>
  </p>
</div>
