<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Adicionar Novo Contato</h1>
  </div>

  <div class="col-md-6 mx-auto">
    <%= form_with model: [current_user, @contact], local: true do |f| %>
      <%= render 'fields', f: f %>

      <div class="d-grid">
        <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
